# The AR6 Effective Radiative Forcing Timeseries, 1955-2019

Theme Song: Upside Down<br>
Artist: Gazpacho<br>
Album: Night<br>
Released: 2007

In [1]:
from ar6.utils.h5 import load_dict_from_hdf5
from ar6.constants import NINETY_TO_ONESIGMA
import numpy as np
import pandas as pd

In [2]:
forcing_ensemble = load_dict_from_hdf5('../data_output_large/ERF_ensemble.h5')

In [3]:
forcing_ensemble['co2'].shape

(270, 100000)

In [4]:
# all WMGHGs
df = pd.DataFrame(
    np.percentile(
        (
            forcing_ensemble['co2'][205:] + 
            forcing_ensemble['ch4'][205:] + 
            forcing_ensemble['n2o'][205:] + 
            forcing_ensemble['other_wmghg'][205:]
        ) - (
            forcing_ensemble['co2'][205] + 
            forcing_ensemble['ch4'][205] + 
            forcing_ensemble['n2o'][205] + 
            forcing_ensemble['other_wmghg'][205]
        ), (5,95), axis=1
    ).T,
    columns=['p05', 'p95'],
    index=range(1955, 2020)
)
df.to_csv('../data_output/AR6_ERF_GHGs_1955-2019.csv')
df

           p05       p95
1955  0.000000  0.000000
1956  0.013199  0.016316
1957  0.026803  0.033099
1958  0.040039  0.049086
1959  0.054304  0.066038
...        ...       ...
2015  1.924527  2.292983
2016  1.974918  2.354224
2017  2.008958  2.395346
2018  2.047110  2.441147
2019  2.084956  2.486756

[65 rows x 2 columns]

In [5]:
# all GHGs and precursors
df = pd.DataFrame(
    np.percentile(
        (
            forcing_ensemble['co2'][205:] + 
            forcing_ensemble['ch4'][205:] + 
            forcing_ensemble['n2o'][205:] + 
            forcing_ensemble['other_wmghg'][205:] +
            forcing_ensemble['o3'][205:] +
            forcing_ensemble['h2o_stratospheric'][205:]
        ) - (
            forcing_ensemble['co2'][205] + 
            forcing_ensemble['ch4'][205] + 
            forcing_ensemble['n2o'][205] + 
            forcing_ensemble['other_wmghg'][205] + 
            forcing_ensemble['o3'][205] +
            forcing_ensemble['h2o_stratospheric'][205]
        ), (5,95), axis=1
    ).T,
    columns=['p05', 'p95'],
    index=range(1955, 2020)
)
df.to_csv('../data_output/AR6_ERF_GHGs_incl_not_well_mixed_1955-2019.csv')
df

           p05       p95
1955  0.000000  0.000000
1956  0.017652  0.024074
1957  0.035726  0.048604
1958  0.053222  0.072285
1959  0.071675  0.096857
...        ...       ...
2015  2.175463  2.636942
2016  2.224703  2.692337
2017  2.257068  2.727651
2018  2.301727  2.782785
2019  2.345705  2.837615

[65 rows x 2 columns]